html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
}

header, h1 {
  color: #fff;
}

.gutter {
  padding-left: .5rem;
  padding-right: 1.3rem;
}

span {
  color: #70ad55;
}

form, .gutter {
  padding-left: .5rem;
  padding-right: 1.3rem;
}

.btn {
  color: #fff;
  background-color: #6e8c62;
  border-color: #6e8c62;
}

footer {
  background-color: #70ad55;
}

input, textarea {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 2px solid #6e8c62;
  border-radius: 0;
}

select {
  background-size: 18px auto;
  background-color: #fff;
  border: 2px solid #6e8c62;
  border-radius: 0;
}

[type="checkbox"] + label::before {
  background-color: #fff;
  background-size: cover;
  border: 2px solid #6e8c62;
}

[type="radio"] + label::before {
  background-color: #fff;
  background-size: cover;
  border: 2px solid #6e8c62;
}
